<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
        <h1> Following are the titles of given websites: </h1>
        <h5>

            <ul>
                <%if(locals.queryAddress){
                    queryAddress.forEach(function(el, index) { %>
                        <li>
                            <%=el%>
                        </li>
                   <% }); }%>
                <li>

                    <% if(address=='google.com' +''+secondAddress=='www.dawn.com/events/' ) { %>
                        <%=address %> AND <%=secondAddress %>
                                <% } else if(address=='google.com' ) {%>
                                    <%=address %>
                                        <% }else if (address=='http://yahoo.com' ) {%>
                                            <%=address %>
                                                <% }else {%>
                                                    <h2>No Response ERRor $404</h2>
                                                    <% } %>
                </li>
            </ul>


        </h5>
    </body>

</html>
